.columns .columns-row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}
.columns img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
@media (min-width: 900px) {
  .columns .columns-row {
    flex-direction: row;
    align-items: center;
  }
  .columns .columns-row > div {
    flex: 1;
  }
  .columns.reverse .columns-row {
    flex-direction: row-reverse;
  }
}