.hero {
  position: relative;
  min-height: 400px;
  display: flex;
  align-items: center;
  color: white;
  overflow: hidden;
}
.hero .hero-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.hero .hero-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero .hero-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
@media (min-width: 900px) {
  .hero {
    min-height: 600px;
  }
  .hero .hero-content {
    text-align: left;
    margin: 0 5%;
  }
}